#root,html,body{
    margin: 0;
    padding: 0;
    height:100vh ;
    box-sizing: border-box;
}
.app{
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) ,url('./material/image.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card{
    background-color: rgb(213, 211, 248);
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 5px 5px 5px 5px;
}
.heading{
    display: flex;
    align-items: center;
    height: 580px;
    font-family: 'Spartan', sans-serif;
}
.button{
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 200px;
    width: 210px;
    opacity: 1;
    background-color: bisque;
    border: 2px solid rgb(46, 45, 45);
}
.button:hover{
    animation: rotate 0.7s ease-in-out both;
    background-color: black;
    color: coral;
    border-color: rgb(252, 248, 9);
}
@media only screen and (max-width: 600px){
    .card{
        width: 80%;
        height: 30%;
    }
}